/* Load in typefaces first */
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Spectral:500,700');

/* Defaults to override bootstrap */
body {
	font-family: 'Spectral', serif;
	font-weight: 500;
}
a {
	color: #FF5252;
}
a:hover {
	color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 2.5rem;
	letter-spacing: 0.0625rem;
	line-height: 1.3;
}
h2 {
	font-size: 2rem;
	line-height: 1.3;
}
h3 {
	font-size: 1.5rem;
	line-height: 1.5;
}
h4 {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
ul {
	padding-left: 1rem;
}
.lead {
	font-weight: bold;
}
.btn {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}
::selection {
  color: #FFFFFF;
  background: #FF5252;
}
/* HERO */
.hero {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 6rem;
	background-color: #72462000; /* fallback if img doesnt load */
	background-image: url(assets/chris_hero_color_mobile.jpg);
	background-image: url(assets/chris_hero_color_mobile.jpg), linear-gradient(#72462000, #64534569, #705742db, #2c2015db);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 60%;
	background-blend-mode: multiply;
}
@media (min-width: 768px) {
	.hero {
		text-align: left;
		background-color: black;
		height: 85vh;
		padding-top: 6rem;
		padding-bottom: 0;
		background-image: url(assets/chris_hero_color.jpg);
		background-position: center;
		background-blend-mode: unset;
	}
}
.hero-services {
	margin-top: 12rem;
}
@media (min-width: 768px) {
	.hero-services {
		margin-top: 0;
	}
}
.hero button {
	margin-bottom: 1rem;
  padding: .5rem 1rem;
}
.hero-btn {
	background-color: #FF5252;
	color: #f8f9fa;
}
@media (min-width: 768px) {
	.hero button {
		padding: .75rem 1.75rem;
	}
	.hero-btn {
		border-color: transparent; /* we could drop the btn-outline-light class on the button, but somehow this also incorporates the hover event, and this is beyond me */
	}
}
.hero-copy {
	color: #FFFFFF;
}
.hero-headline {
	font-size: 1.75rem;
}
@media (min-width: 1200px) {
	.hero-headline {
		font-size: 2.5rem;
	}
}
.cta-btn {
	margin-top: 1rem;
	padding: .75rem 1.75rem;
	background-color: #FF5252;
	color: #FFFFFF;
}

/* CARDS */
.intro-card,
.card-red {
	color: #212529;
	background-color: #FFFFFF;
	box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.20);
	border: 16px solid #FF5252;
	padding: 2rem;
}
.card-red {
	text-align: center;
}
@media (min-width: 992px) {
	.intro-card {
		padding: 5rem;
	}
	.card-red {
		padding: 5rem;
	}
}
.intro-card .lead {
	font-size: 1.25rem;
	font-weight: 500;
}
@media (min-width: 992px) {
	.intro-card .lead {
		font-size: 2.25rem;
	}
}
.card-white {
	background-color: #FFFFFF;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.20);
	border-radius: 0;
	border: none;
	border-bottom: 8px solid #FF5252;
	padding: 2rem;
}
.card-deck {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
@media (min-width: 992px) {
	.card-deck {
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
}
.card-deck .card {
	margin-bottom: 2rem;
}
@media (min-width: 992px) {
	.card-deck .card {
		margin-bottom: 0;
	}
}
/* PILLARS */
.technology-graphic,
.process-graphic,
.people-graphic {
	max-width: 96px;
	height: 64px;
}
/* OFFERINGS */
.services-list,
.specialties-list {
	list-style: none;
	padding: 0;
}
.services-list li {
	margin-bottom: 4rem;
}
.services-list li:last-of-type {
 margin-bottom: 0;
}
.specialties-list li {
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid rgba(0,0,0,.12);
}
.specialties-list li:last-of-type {
	border-bottom: none;
}
/* QUOTES */
.divider-bottom {
	border-radius: 0;
	border-bottom: 8px solid #FF5252;
}
.quote {
	font-size: 1.5rem;
}
@media (min-width: 768px) {
	.quote {
		font-size: 1.5rem;
	}	
}
.quote-img {
	box-shadow: 16px 16px 0 0 #FF5252;
}
.quote-img-sm {
	margin-bottom: 1rem;
	width: 96px;
	height: auto;
	box-shadow: 8px 8px 0 0 #FF5252;
}
/* ICONS */
.icon-check-red {
	margin-left: .5rem;
}
.icon-bullet-red {
	margin-right: .5rem;
}
/* UTILITIES */
.flex-center {
	align-items: center;
}
.p-short {
	max-width: 950px;
	margin: 0 auto;
}
.overlap {
	margin-top: -4rem;
}
.header-accent {
	margin-bottom: 4rem;
}
.header-accent:after {
	background: none repeat scroll 0 0 #FF5252;
	bottom: -1rem;
	content: "";
	display: block;
	height: 4px;
	position: relative;
	width: 4rem;
}
.card-red .header-accent:after {
	background-color: #FFFFFF;
}
.text-center {
	text-align: center;
}
.border-bottom {
	border-bottom: 1px solid rgba(0,0,0,.12);
}

/* WHITESPACE */
.mb-0   {margin-bottom: 0;}
.mb-16  {margin-bottom: 1rem;}
.mb-32  {margin-bottom: 2rem;}
.mb-64  {margin-bottom: 4rem;}
.pb-64  {padding-bottom: 4rem;}
.mr-64  {margin-right: 4rem;}
.mb-96  {margin-bottom: 6rem;}
.mb-128 {margin-bottom: 8rem;}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
